black==24.10.0
click==8.1.7
colorama==0.4.6
cx_Freeze==7.2.4
cx_Logging==3.2.1
lief==0.15.1
mypy==1.13.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
ruff==0.9.3
setuptools==75.3.0
typing_extensions==4.12.2
