name: Build Timeseer.AI custom module
on:
  push:
    branches:
      - '**'

jobs:
  lint_and_build_win:
    name: Lint and build (Windows)
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Check and build
        run: ./build.ps1

      - uses: actions/upload-artifact@v4
        with:
          name: timeseer-custom-modules-windows
          path: build/exe.win-amd64-3.12

  lint_and_build_linux:
    name: Lint and build (Linux)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Check and build
        run: |
          uv run ruff format --check
          uv run ruff check
          uv run mypy --ignore-missing-imports .
          uv run cxfreeze build_exe

      - uses: actions/upload-artifact@v4
        with:
          name: timeseer-custom-modules-linux
          path: build/exe.linux-x86_64-3.12
